/*   GENERAL STUFF   */

* {
	color: orange;
	font-family: 'Vollkorn', serif;
}

body {
	margin: 0;
	padding: 0;
}

.clickable {
	cursor: pointer;
}

/*   CONTENT   */

::-moz-selection {
	background-color: darkorange;
	color: white;
}

*::selection,
::selection {
	background-color: darkorange;
	color: white;
}

.centered-content {
	position: relative;
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	padding: 8px 15px;
}

#content {
	position: relative;

	height: auto;

	margin-top: 53px;
	margin-bottom: 5px;
}

.column:first-child {
	width: calc(25% - 7px);
	/*height: 250px;*/

	margin-right: 10px;
}

.column:nth-child(2) {
	width: calc(75% - 7px);
	height: auto;
}

.column {
	display: inline-block;
	vertical-align: top;

	/*box-shadow: 0 0 2px orange;*/

	border-radius: 2px;
}

.column:only-of-type {
	width: 100%;
}

.box {
	position: relative;
	height: auto;
	width: 100%;

	box-shadow: 0 0 3px rgba(255, 165, 0, 0.5);
	background-color: rgba(255, 165, 0, 0.02);
}

.box > * {
	padding: 10px;
}

.box:not(:last-child) {
	margin-bottom: 10px;
}

.row {
	position: relative;
	width: calc(100% - 20px); /* 100% - width */

	/*padding: 10px;*/

	border-collapse: collapse;
	border-spacing: 10px;
	border-bottom: 1px solid rgba(255, 165, 0, 0.4);

	transition: all 0.3s;
}

.post.new {
	animation: pop-in 0.5s;
	z-index: 1;
}

@keyframes pop-in {
	0% {
		transform: translateY(-1000px);
	}

	100% {
		transform: translateY(0);
	}
}

.row:last-child {
	border-bottom: none;
}

.row:nth-child(2n) {
	background-color: white;
}

.row:hover {
	background-color: rgba(255, 165, 0, 0.05);
}

#profile-details tr > td {
	vertical-align: top;
}

#profile-details tr > td:nth-child(2) {
	width: 100%;
}

#profile-details #edit-description {
	cursor: pointer;
}

#profile-pic {
	width: 60px;
	height: 60px;

	border-radius: 4px;
	cursor: zoom-in;
}

.editable {
	transition: all 0.3s;
}

.editable[contenteditable="true"] {
	background-color: rgba(205, 205, 205, 0.16);
	outline: 0;
}

#edit-displayname {
	float: right;
	cursor: pointer;
}

#displayname {
	display: inline-block;
	width: calc(100% - 18px);
}

.post:hover {
	cursor: pointer;
}

/*,

*/

/*.post > .right > span:first-child {*/
	/*position: relative;*/
/*}*/

.post > .right > span:first-child:hover {
	text-decoration: underline;
}

.post > .right > span:first-child:hover,
.post > .right > span:first-child:hover > small {
	color: orange;
}

.post > .footer {
	position: absolute;
	width: 100%;
	margin-right: 10px;
	bottom: 0;
}

.imgcontainer {
	position: relative;
	border: 2px solid white;
	background-color: white;
	border-radius: 7px;
	width: 100%;
	max-height: 400px;
	overflow: hidden;

	display: flex;
	flex-wrap: wrap;
}

.imgcontainer > img {
	position: relative;
	object-fit: cover;
	object-position: 50% 50%;
	min-height: 100%;
}

/* Handling image styles for n images using the technique from André Luís/Lea Verou */
.imgcontainer img:only-of-type {
	width: 100%;
}

/* 2 images */
.imgcontainer img:first-child:nth-last-child(2),
.imgcontainer img:first-child:nth-last-child(2) ~ img {
	width: calc((100% - 2px)/2);
}

.imgcontainer img:first-child:nth-last-child(2) {
	margin-right: 1px;
}

.imgcontainer img:nth-child(2):last-child {
	margin-left: 1px;
}

/* 3 images */
.imgcontainer img:first-child:nth-last-child(3),
.imgcontainer img:first-child:nth-last-child(3) ~ img {
	width: calc((100% - 5px) / 3);
}

.imgcontainer img:nth-child(2):nth-last-child(2),
.imgcontainer img:first-child:nth-last-child(3) {
	margin-right: 1px;
}

.imgcontainer img:nth-child(2):nth-last-child(2),
.imgcontainer img:nth-child(3):last-child {
	margin-left: 1px;
}

/* 4 images */
.imgcontainer img:first-child:nth-last-child(4),
.imgcontainer img:first-child:nth-last-child(4) ~ img {
	width: calc((100% - 2px) / 2);
	max-height: calc(50% - 2px);
	min-height: 0;
}

.imgcontainer img:first-child:nth-last-child(4),
.imgcontainer img:nth-child(3):nth-last-child(2) {
	margin-right: 1px;
}

.imgcontainer img:nth-child(2):nth-last-child(3),
.imgcontainer img:nth-child(4):last-child {
	margin-left: 1px;
}

.imgcontainer img:first-child:nth-last-child(4),
.imgcontainer img:nth-child(2):nth-last-child(3) {
	margin-bottom: 1px;
}

.imgcontainer img:nth-child(3):nth-last-child(2),
.imgcontainer img:nth-child(4):last-child {
	margin-top: 1px;
}

.row > div {
	position: relative;
	/*display: inline-block;*/
	vertical-align: top;
	margin: 4px;
}

.row span,
.row a,
.row small {
	color: rgb(105, 105, 105);
}

.row .date {
	color: rgb(155, 155, 155);

	float: right;

	position: relative;
	height: 22px;
	text-align: right;
	right: 0;
}

.row > .left {
	float: left;
}

.row::after {
	display: block;
	content: ' ';
	clear: both;
}

.row.follow .right {
	margin-left: calc(50%);
	line-height: 55px;
}

.follow-status {
	position: relative;
	display: inline-block;
	margin: 3px;
	padding: 4px;

	width: 85px;
	height: 14px;

	font-size: 12px;
	color: rgb(188, 188, 188);

	font-variant: small-caps;

	border-radius: 3px;

	background-color: rgba(188, 188, 188, 0.33);
	box-shadow: 0 0 10px rgba(188, 188, 188, 0.33);
}

.follow-button {
	position: relative;
	display: inline-block;
	margin: 3px 10px 3px 3px !important;

	overflow: hidden;

	width: calc(100% - 5px);
	height: 20px;

	text-align: center;

	border-radius: 5px;
	border: 1px solid rgba(255, 165, 0, 0.5);
	background-color: rgba(255, 165, 0, 0.1);

	line-height: 36px;
	vertical-align: middle !important;

	cursor: pointer;
}

.follow-button:active {
	box-shadow: 0 0 10px rgba(255, 165, 0, 0.2);
}

.follow-button span {
	display: inline-block;
	color: orange;
	vertical-align: middle;
}

.follow-button-text {
	transition: all 0.3s;
}

.follow-button[data-follows='1'] #button-follow {
	/*display: none;*/
	transform: translateY(-35px);
}

.follow-button[data-follows='1'] #button-unfollow {
	/*display: inline-block;*/
	transform: translateY(-35px);
}

.follow-button[data-follows='0'] #button-follow {
	/*display: inline-block;*/
	transform: translateY(0);
}

.follow-button[data-follows='0'] #button-unfollow {
	/*display: none;*/
	transform: translateY(0);
}

.stats div {
	position: relative;
	display: inline-block;
	width: calc((100% / 3) - 12px);
	text-align: center;
	margin: 0;
	padding: 4px;
}

.stats div:not(:first-child) {
	border-left: 1px solid rgba(255, 165, 0, 0.4);
}

.stats div span {
	font-size: 14px;
	font-variant: small-caps;
	text-align: center;
}

.profile_pic {
	border-radius: 6px;
	background-color: rgba(255, 165, 0, 0.1);
}

.profile_pic.header {
	width: 40px;
	height: 40px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	margin-top: -3px;
}

.profile_pic.post {
	width: 60px;
	height: 60px;
}

.row > .right {
	margin-left: 70px;
}

.row > .right > div:not(.footer) {
	margin-bottom: 10px;
	min-height: 34px;
}

#header * {
	color: white;
}

#header {
	position: fixed;
	z-index: 3;
	width: 100%;
	background-color: orange;

	border-bottom: 1px solid rgba(255, 140, 0, 0.4);
	box-shadow: 0 0 10px orange;
	height: 50px;

	left: 0;
	top: 0;
}

h1 {
	margin: 0;
}

#title {
	position: absolute;
	width: 1000px;
	color: #FFFFFF;
	font-family: 'Ubuntu', serif;
}

#title > span:first-child {
	font-family: 'Ubuntu', serif;
}

#home-button {
	position: absolute;
	left: 0;
	top: 0;

	z-index: 4;

	width: 100px;
	height: 50px;
	cursor: pointer;
}

#title.loading > span:first-child {
	display: inline-block;
	transform-origin: center 60%;
	animation: rotating 1s ease-in-out infinite;
}

@keyframes rotating {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(720deg);
	}
}

#status {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

/*   LOGIN FORM   */

#top-popup {
	position: fixed;
	transition: all 2s ease-in;
	
	/*background: #ededed;*/
	background: #FFFFFF;
	padding: 20px 15px;

	border: 1px solid rgba(197, 197, 197, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

	border-radius: 3px;

	top: 60px;
	right: calc(50% - 500px);

	z-index: 2;
}

#top-popup.hidden {
	transform: translateY(-300px);
	opacity: 0;
}

#top-popup form {
	margin: 0;
}

#top-popup input {
	background-color: rgba(255, 255, 255, 0.5);
}

#top-popup input,
#top-popup button {
	display: block;
	position: relative;
	border: 1px solid orange;
	border-radius: 0;

	margin-bottom: -1px;

	padding: 5px 8px;
	width: 200px;
	height: 40px;

	transition: all 0.3s;
	/*z-index: 0;*/

	font-size: 14px;
}

#top-popup button {
	width: 100%;
}

#top-popup input:focus,
#top-popup button:focus {
	outline: none;
	box-shadow: 0 0 10px orange;
	background-color: rgba(255, 165, 0, 0.05);
	/*z-index: 10;*/
}

#top-popup input:first-child {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#top-popup button {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#top-popup button {
	background-color: orange;
	cursor: pointer;
}

#top-popup button i {
	color: white;
}

#top-popup .row {
	background-color: #FFFFFF !important;
	width: 100%;
}

#top-popup .row:hover {
	text-shadow: 0 0 3px rgba(85, 85, 85, 0.25);
}

#top-popup .row,
#top-popup .row * {
	display: block;
	line-height: 1;
	text-align: center;
	margin-top: 3px;
}

#top-popup .row span {
	font-size: 18px;
}

#top-popup .row small {
	font-size: 10px;
	margin-bottom: 3px;
}

/*#top-popup .row*/

.top-caret::before,
.top-caret::after {
	position: absolute;
	content: ' ';

	width: 0;
	height: 0;

	top: -11px;
	right: 10px;
}

.top-caret::before {
	margin-top: -11px;
	border: 11px solid transparent;
	filter: blur(1px);
	border-bottom-color: rgba(197, 197, 197, 0.5);
}

.top-caret::after {
	margin-top: -8px;
	margin-left: 1px;
	border: 10px solid transparent;
	border-bottom-color: rgb(255, 255, 255);
}

#overlay {
	display: none;
}

#overlay-click {
	position: fixed;
	z-index: 100;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: rgba(0, 0, 0, 0.8);
}


#overlay[display="none"] * {
	display: none;
}

.cropping-content {
	min-height: 566px;
}

.overlay-content::before {
	position: absolute;
	top: -18px;
	right: -15px;

	cursor: pointer;
	pointer-events: none;

	color: white;

	content: "\f00d";

	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}


.overlay-content {
	z-index: 101;

	max-height: calc(100% - 100px);
	max-width: 1000px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	cursor: default;

	padding: 5px;

	border-radius: 4px;

	background-color: white;
	
	white-space: nowrap;
}

.overlay-content * {
	white-space: normal;
}

.overlay-content img {
	/*
	position: relative;
	*/

	margin-bottom: -6px;
}

.overlay-content img:not(#to-crop) {
	max-width: 100%;
	max-height: 100%;
}

.overlay-content.fade-in.right {
	animation: overlay-fade-in-right 0.5s ease;
}

.overlay-content.fade-in.left {
	animation: overlay-fade-in-left 0.5s ease;
}

.overlay-content.fade-out.right {
	animation: overlay-fade-out-right 0.5s ease;
}

.overlay-content.fade-out.left {
	animation: overlay-fade-out-left 0.5s ease;
}



@keyframes overlay-fade-out-right {

	0% {
		transform: translate(-50%, -50%);
		opacity: 1;
	}

	100% {
		transform: translate(calc(-40px - 50%), -50%);
		opacity: 0;
	}

}

@keyframes overlay-fade-out-left {

	0% {
		transform: translate(-50%, -50%);
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translate(calc(-50% + 40px), -50%);
	}

}

@keyframes overlay-fade-in-right {

	0% {
		transform: translate(calc(-50% + 40px), -50%);
		opacity: 0;
	}

	100% {
		transform: translate(-50%, -50%);
		opacity: 1;
	}

}

@keyframes overlay-fade-in-left {

	0% {
		transform: translate(calc(-40px - 50%), -50%);
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

}

#cropper {
	display: inline-block;

	position: relative;

	width: 512px;
	height: 512px;
	overflow: hidden;

	z-index: 1;

	cursor: move;

	border: 1px solid darkorange;

	margin-bottom: -10px;
	margin-top: 10px;
}

#cropping {
	position: relative;
	width: 514px;
	
	margin-top: -10px;
}

#cropping small {
	display: inline-block;
	position: relative;
}

#cropping div:last-child {
	float: right;
	
	margin-top: 12px;
	
	padding: 3px 5px;
	background-color: rgba(255, 165, 0, 0.2);
	border-radius: 4px;
}

#cropping div:last-child:hover {
	box-shadow: 0 0 4px orange;
	cursor: pointer;
}

#to-crop {
	position: absolute;
}

#image-preview {
	display: none;
}

#image-preview img {
	width: 512px;
	height: 512px;

	border-radius: 4px;
}

#image-preview i {
	position: absolute;
	color: white;

	font-size: 100px;

	width: 100px;
	height: 100px;

	right: 50%;
	bottom: 50%;

	transform: translate(50%, 50%);
}

#upload-button {
	position: absolute;

	opacity: 0;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	/*width: 512px;*/
	/*height: 512px;*/
	border-radius: 3px;

	background-color: rgba(0, 0, 0, 0.8);

	transition: all 0.3s;
}

#upload-button:hover {
	cursor: pointer;
	opacity: 1;
}

#upload-button.loading i {
	animation: rotating 1s ease-in-out infinite;
	transform-origin: 50% 50%;
	left: calc(50% - 50px);
	top: calc(50% - 50px);
}

#image-preview[display="none"] #upload-button {
	display: none;
}

#profile-chooser {
	display: none;
}

.hidden {
	display: none;
}

.hidden[display="none"] * {
	display: none;
}

#post-form textarea {
	width: calc(100% - 10px) !important;
	min-height: 150px;

	transition: all 0.3s ease;
	
	border: 1px solid rgba(255, 165, 0, 0.5);
	border-radius: 4px;

	line-height: 0.9;
	padding: 5px;

	outline: none;

	font-size: 16px;

	resize: vertical;
}

#post-form textarea:invalid:not(:focus) {
	min-height: 50px;
	height: 50px;
}

#post-form input[type='file'] {
	display: none;
}

#post-form > div:first-of-type {
	position: relative;
	min-height: 32px;
}

#post-form button {
	position: absolute;
	right: 0;
	top: 0;
}

#add-images {
	position: absolute;
	left: 0;
	top: 0;
}

#post-form button,
#post-form #add-images {
	border: 1px solid rgba(255, 165, 0, 0.2);
	border-radius: 4px;

	background: rgba(255, 255, 255, 0.5);

	padding: 3px 5px;
	font-size: 14px;

	transition: all 0.3s ease;
}

#post-form button:hover,
#post-form #add-images:hover {
	cursor: pointer;

	background: white;
}
#post-form button:active,
#post-form #add-images:active {
	box-shadow: 0 0 18px rgba(255, 165, 0, 0.3);
}

#register input,
#register button,
#register select {
	display: block;
	position: relative;
	border: 1px solid orange;
	border-radius: 0;
	background-color: white;

	-webkit-appearance:none;

	margin-bottom: -1px;

	padding: 5px 8px;
	width: 200px;
	height: 40px;

	transition: all 0.3s;
	/*z-index: 0;*/

	font-size: 14px;
}

#register select,
#register button {
	width: 218px;
	height: 44px;
}

#register input:focus,
#register button:focus,
#register select:focus {
	outline: none;
	box-shadow: 0 0 10px orange;
	background-color: rgba(255, 165, 0, 0.05);
	/*z-index: 10;*/
}

#register *:first-child {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#register *:last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#register button {
	background-color: orange;
	cursor: pointer;
}

#register button i {
	color: white;
}